@font-face {
  font-family: Inconsolata;
  src: url("Inconsolata/Inconsolata.otf") format("opentype");
}


html { height: 100%; }

body {
  height: 95%;
  margin: 0;
  padding: 0;
/*  background: -moz-radial-gradient(center, ellipse cover, #BAD5F4 0%, #BAD5F4 10%, #C8DEB0 20%, #f9f2e0 80%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #BAD5F4), color-stop(10%, #BAD5F4), color-stop(20%, #C8DEB0), color-stop(80%, #f9f2e0));
  background: -webkit-radial-gradient(center, ellipse cover, #BAD5F4 0%, #BAD5F4 10%, #C8DEB0 20%, #f9f2e0 80%);
  background: -o-radial-gradient(center, ellipse cover, #BAD5F4 0%, #BAD5F4 10%, #C8DEB0 20%, #f9f2e0 80%);
  background: -ms-radial-gradient(center, ellipse cover, #BAD5F4 0%, #BAD5F4 10%, #C8DEB0 20%, #f9f2e0 80%);
  background: radial-gradient(ellipse at center, #BAD5F4 0%, #BAD5F4 10%, #C8DEB0 20%, #f9f2e0 80%);
  background-size: 4px 4px;*/
}

.fixed-navbar {
  top: 0;
  width: 100%;
  position: fixed;
  height: 66px;
  background-color: #F9F2E0;
  z-index: 100;
  box-shadow: 0 3px 5px #97A5B5;
  font-family: Inconsolata;
  color: #757575;
}

.brand {
  height: 100%;
  float: left;
  position: relative;
  margin-left: 30px;
}

.brand-icon {
  float: left;
  padding-right: 10px;
  padding-top: 7px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.logo {
  font-style: italic;
  font-weight: 600;
  font-size: 25px;
  max-width: 200px;
  float: left;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.right-navigation {
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

a {
  text-decoration: none;
  color: #757575;
}

.right-navigation ul {
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-right: 20px;
}

.right-navigation ul li {
  position: relative;
  float: right;
  margin: 0;
  width: 130px;
  padding: 24px 10px;
}

.right-navigation ul li:hover {
  background-color: white;
}

.right-navigation ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
}

.right-navigation ul li:hover > ul {
  display:block
}

.right-navigation ul li ul li {
  box-shadow: 0 3px 5px #97A5B5;
  border-bottom: 1px solid #97A5B5;
  background-color: #F9F2E0;
  font-size: 15px;
}

li:first-child {
  margin-top: 21px;
}

li:last-child {
  border-bottom: none;
}

li:hover {
  background-color: white;
}

#map-canvas-div {
  top: 66px;
  width: 95%;
  height: 87%;
  margin: 30px auto;
  border-radius: 10px;
}

@media (max-width: 1024px) {
}

@media (max-width: 767px) {
  .fixed-navbar {
    height: 44px;
  }

  .brand {
    margin-left: 30px;
  }

  .logo {
    font-size: 18px;
  }

  .right-navigation ul {
    margin-right: 30px;
  }

  #map-canvas-div {
    top: 44px;
  }
}

#pac-input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 400px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#pac-input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 401px;
}

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}


  #757575
  #868C94
  #8E99A5
  #97A5B5 # navbar shadow
  #D4C297
  #BCAD76
  #9F8753
  #E4E0DA
  #6493C8
  #285E9A


