@font-face {
  font-family: Inconsolata;
  src: url('fonts/Inconsolata/Inconsolata.otf') format('opentype');
}

html { height: 100%; }

body {
  height: 95%;
  margin: 0;
  padding: 0;
}

/*Google info window styles*/
/*.gm-style-iw {
}*/

/*.googft-info-window {
  overflow-y: auto;
}

.googft-info-window .img-div {
  float: left;
}

.googft-info-window .img-div img {
  height:100px;
  padding-right: 1em;
  margin-top: 6px;
}

.googft-info-window  .content-div {
  margin-top: 6px;
  float: right;
  width: 155px;
}*/

/*Site styles*/

.fixed-navbar {
  top: 0;
  width: 100%;
  position: fixed;
  height: 66px;
  background-color: #F9F2E0;
  z-index: 100;
  box-shadow: 0 3px 5px #97A5B5;
  font-family: Inconsolata;
  color: #757575;
}

.brand {
  height: 100%;
  float: left;
  position: relative;
  margin-left: 30px;
}

.brand-icon {
  float: left;
  padding-right: 10px;
  padding-top: 7px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.logo {
  font-style: italic;
  font-weight: 600;
  font-size: 25px;
  max-width: 200px;
  float: left;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.right-navigation {
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.sm-xs-dropdown {
  display: none;
}

a {
  text-decoration: none;
  color: #757575;
}

.right-navigation ul {
  list-style-type: none;
  position: relative;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-right: 20px;
}

.right-navigation ul li {
  position: relative;
  float: right;
  margin: 0;
  width: 130px;
  padding: 24px 10px;
}

.right-navigation ul li:hover {
  background-color: white;
}

.right-navigation ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
}

.right-navigation ul li:hover > ul {
  display:block
}

.right-navigation ul li ul li {
  box-shadow: 0 3px 5px #97A5B5;
  border-bottom: 1px solid #97A5B5;
  background-color: #F9F2E0;
  font-size: 15px;
}

li:first-child {
  margin-top: 21px;
}

li:last-child {
  border-bottom: none;
}

li:hover {
  background-color: white;
}

.fixed-footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  height: 55px;
  background-color: #F9F2E0;
  z-index: 100;
  box-shadow: 0 -1px 5px #97A5B5;
  font-family: Inconsolata;
  color: #757575;
}

.footer-text {
  display: inline-block;
  margin: 20px 0;
  padding: 0 20px;
}

.my-sig {
  display: inline-block;
  float: right;
  padding-right: 30px;
}

#map-canvas-div {
  top: 66px;
  width: 95%;
  height: 80%;
  margin: 40px auto;
  border-radius: 10px;
}

#location-search-box {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 300px;
  font-family: Inconsolata;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#location-search-box:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 301px;
}

.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.pac-container {
  font-family: Inconsolata;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Inconsolata;
  font-size: 13px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .fixed-navbar {
    height: 44px;
  }

  .brand {
    margin-left: 20px;
  }

  .logo {
    font-size: 18px;
  }

  .lg-md-dropdown {
    display: none;
  }

  .sm-xs-dropdown {
    display: inline-block;
  }

  .right-navigation ul li {
    width: 90px;
    height: 15px;
    padding: 15px 10px;
  }

  .right-navigation ul li .current-location {
    padding: 15px 10px;
  }

  .right-navigation ul li .specific-continent {
    padding: 15px 10px;
  }

  #map-canvas-div {
    top: 44px;
  }

  #location-search-box {
    display: none;
  }
}

  #757575
  #868C94
  #8E99A5
  #97A5B5 # navbar shadow
  #D4C297
  #BCAD76
  #9F8753
  #E4E0DA
  #6493C8
  #285E9A


